<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinners.trumanms.feature_job">

    <application>
        <activity android:name=".ui.jobList.jobDetails.JobDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="trumanmsdev.vinnersolutions.com"
                    android:pathPattern=".*jobdetails"
                    android:scheme="http"/>
                <data
                    android:host="trumanmsdev.vinnersolutions.com"
                    android:pathPattern=".*jobdetails"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>