<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feature_profile">

    <application>
        <activity android:name=".ui.kyc.KycActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.certificate.CertificateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.documents.ViewDocumentsOnlineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.jobHistory.JobHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.medical.MedicalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.vinners.trumanms.feature.auth.ui.login.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.documents.DocumentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.bankDetails.BankDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.LogOutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ProfileActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>